body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
}

ol, ul {
    padding-left: 30px;
}

.board-row:after {
    clear: both;
    content: "";
    display: table;
}

.status {
    margin-bottom: 10px;
}

.square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    /* font-weight: bold; */ /* only bold the current move */
    line-height: 34px;
    height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 34px;
}

.square:focus  {
    outline: none;
}

.kbd.navigation .square:focus {
    background: #ddd;
}

.game {
    display: flex;
    flex-direction: row;
}

.game-info {
    margin-left: 20px;
    width: 120px;
}

left {
    width: 20%;
    float: left;
    min-height: 30px;
    margin-right: 10px;
}

#tiny {
    height: 8;
}

#small {
    height: 12px;
}

#big {
    height: 25px;
}

#bigger {
    height: 45px;
}

.current_move {
    background-color: #ccffcc;
    color: black;
    font-weight: 900;
}
